# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Two Worlds, One Coin.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\catra\Documents\Unity Projects\Two Worlds, One Coin\.idea\.idea.Two Worlds, One Coin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
